<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_seatreservation.Mapper.CreditLogMapper">
    <insert id="insert" parameterType="com.example.spring_seatreservation.Bean.CreditLog">
        INSERT INTO credit_log (uid, changeType, changeScore, reason, operator, createTime)
        VALUES (#{uid}, #{changeType}, #{changeScore}, #{reason}, #{operator}, #{createTime})
    </insert>
</mapper>