<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_seatreservation.Mapper.ViolationMapper">
    <insert id="insert" parameterType="com.example.spring_seatreservation.Bean.Violation">
        INSERT INTO violation (rid, uid, type, deductScore, createTime)
        VALUES (#{rid}, #{uid}, #{type}, #{deductScore}, #{createTime})
    </insert>
</mapper>